<app-navbar></app-navbar>
<!-- {{questions | json}} -->
<div class="bootstrap-wrapper" *ngIf="!isSubmit">
   
     <div class="container-fluid">
      <div class="row">
         <div class="col-md-2 mt20" >
          <h3 class="text-center"><b>Instruction</b></h3>
            <mat-card>
                <mat-card-content>
                   <ul>
                      <li>Don't Refresh the Page</li>
                      <Li>Don't Switch the tabs</Li>

                   </ul>

                </mat-card-content>
            </mat-card>

            
        </div>

       <div class="col-md-8">
          <h1 class="text-center mt10">Question of {{questions[0]?.quiz?.title}}</h1>
          <mat-card *ngIf="questions">

              <mat-card-content *ngFor="let q of questions;let i=index" class="mt10">
                  <b>Q ( {{i+1}} )  {{q.content}}</b>
                <div class="row mt20 mb10">
                   <div class="col-md-6">

                        <input 
                        type="radio" 
                        [value]="q.option1" 
                        [name]="q.option1"  
                        [(ngModel)]="q.givenAnswer"
                        />{{q.option1}}

                        <input type="radio" [value]="q.option2" [name]="q.option2"  [(ngModel)]="q.givenAnswer">{{q.option2}}
                        <input type="radio" [value]="q.option3" [name]="q.option3"  [(ngModel)]="q.givenAnswer">{{q.option3}}
                        <input type="radio" [value]="q.option4" [name]="q.option4"  [(ngModel)]="q.givenAnswer">{{q.option4}}
                   </div>
                 </div>
                <mat-divider></mat-divider>
              </mat-card-content>
           </mat-card>
            <div class="text-center mt20">
               <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Answer</button>
            </div>
        </div>
        <div class="col-md-2">
               <h3 class="text-center mt20">Timer</h3>
         <mat-card style="margin-top: 50px;">
            <mat-card-header>
                  <mat-card-subtitle>Quiz will be automatically close when time will be 0:00</mat-card-subtitle>

                  
            </mat-card-header>
              <mat-card-content>
               <h1>{{getFormattedTimer()}}</h1>
               <mat-spinner 
               style="margin-left: 65px;margin-top: 20px;"
               mode="determinate"
               [value]="(timer/(this.questions.length*1*60))*100">
            </mat-spinner>
              </mat-card-content>



         </mat-card>

         


        </div>
     </div>
   </div>
</div>

<!-- show result -->

<div class="bootstrap-wrapper" *ngIf="isSubmit">

   <div class="container-fluid">
      <h1 class="text-center mt20">Your Result</h1>
      <div class="row">

         <div class="col-md-5"></div>



         <div class="col-md-3">
            <mat-card class="mt20">
               <mat-card-content><h1>Attempt question: {{attemptqstn}}</h1> 
              <h1>Secured Mark: {{totalMark}}</h1>
              <h1>Total Mark: {{questions[0]?.quiz.maxMarks}}</h1></mat-card-content>

              <div class="row mt20 mb20">
               <button mat-raised-button color="primary" class="ml20" (click)="printpage()">Print</button>
               <button mat-raised-button color="accent" class="ml10" [routerLink]="'/normal/viewAllquiz'">Home</button>
      
            </div>
         </mat-card>
          </div>
         
      </div>
     
      
      </div>

</div>