.full-width{
    width : 100%;
    margin-left:2px ;
    margin-bottom: 2px;
     height: 59px; 
    background: transparent;
    padding: 3px 9px;
 
    
 }
 .img{
    width: 250%;
    margin-left: 35%; 
 }
 
 .button{
     /* margin-left: 70px; */
     margin-top: 10px;
 }

 .loginBoxn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    background:rgba(0,0,0,5) ;
 }
 .shadow{
   width:24rem;
   height: 21rem;
   border-radius: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   margin-left:25rem;
 }
 .res_img{
   width: 30%;

 }
.flex_add
{
   display: flex;
   align-items: center;
   justify-content: center;
}