
<mat-card>
    <h1 class=" text-center ml20">Add Question to {{quizTitle}}</h1>
  <!--{{question | json}}-->
      <mat-card-content>
            <div class="bootStrap-wrapper">
               <div class="row text-center">
                 <div class="col-md-6 offset-md-3">
                  <form *ngIf="question" (ngSubmit)="submitQuestion()">
                      <mat-form-field  appearance="outline" class="addqstn mr20 mr10">
                          <mat-label>Write Question Content</mat-label>
                          <textarea matInput placeholder="Enter your question" type="text"  name="description"
                          [(ngModel)]="question.content" name="content" rows="4" required></textarea>
                        </mat-form-field><br>
                                 <!--Options added-->
                               <div class="row text_center ml10">
                                  <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Option 1</mat-label>
                                        <input matInput placeholder="Enter your 1st option" type="text"  name="option1"
                                        [(ngModel)]="question.option1" required=""/>
                                      </mat-form-field><br>
                                     </div>

                                  <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Option 2</mat-label>
                                        <input matInput placeholder="Enter your 2nd option" type="text"  name="option2"
                                        [(ngModel)]="question.option2" required=""/>
                                      </mat-form-field><br>
                                    </div>

                                 <div class="col-md-6">
                                     <mat-form-field>
                                        <mat-label>Option 3</mat-label>
                                        <input matInput placeholder="Enter your 3rd option" type="text"  name="option3"
                                        [(ngModel)]="question.option3" required=""/>
                                      </mat-form-field><br>
                                    </div>

                                   <div class="col-md-6">
                                 <mat-form-field>
                                        <mat-label>Option 4</mat-label>
                                        <input matInput placeholder="Enter your 4th option" type="text"  name="option4"
                                        [(ngModel)]="question.option4" required=""/>
                                      </mat-form-field><br>
                                    </div>
                               </div>
                       <!--answer select-->
                        <div class="row">
                       <mat-form-field  appearance="outline" class="addqstn">
                     <mat-label>Correct Answer</mat-label>
                        <mat-select [(ngModel)]="question.answer" name="answer">
                        <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                        <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                       <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                       <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                   </mat-select>
                </mat-form-field>
             </div>
 <!--button added-->
             <div class=" text-center mt20">
              <button mat-raised-button color="accent" >Add</button>
                 <button mat-raised-button color="warn" class="ml10"type="reset">clear</button>
                </div>

            </form>
                </div>
                  </div>
                    </div>
      </mat-card-content>
  </mat-card>

  
  
