.addquiz{
    width: 70%;
    margin-top: 10px;
}
.button-container{
    width: 5px;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
    margin-left: 170px;
    margin-bottom: 20px;
    text-align: center;
    
  }