
<body>
    <div class="nav">
        <div id="logo">
           ExamPortal
            
        </div>
        <div>
        
<a href="/login" class="button-26" role="button">Sign in</a>
</div>
    </div>
    <div class="hero">
        <div class="test_monials">
            <h1 class="principal">WELCOME TO </h1>
            <h1 class="banner">ExamPortal</h1>
            
            <p class="slogan">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis dolorum hic commodi, quidem, tempore fugit dolores minus est voluptatibus, quas fuga provident! Incidunt a harum deserunt quod totam itaque dolores!</p>

            <a href="/login" class="button-26 extend" role="button">Test Yourself</a>
        </div>
    <img src="../../../assets/home.png" alt="Paris" class="center">

    </div>

</body>


