<mat-card>
  <h1 class="ml20">Add New Catagory</h1>
 <!-- {{addcatagory | json}}-->
    <mat-card-content>
          <div class="bootStrap-wrapper">
             <div class="row">
               <div class="col-md-6 offset-md-3">
                <form (ngSubmit)="addCatagoryItem()">
                    <mat-form-field appearance="outline" class="addcatagory">
                        <mat-label>Fill title field</mat-label>
                        <input matInput placeholder="Enter title here" type="text" 
                        [(ngModel)]="addcatagory.title" name="title" required />
                      </mat-form-field><br>
        
                      <mat-form-field appearance="outline" class="addcatagory">
                        <mat-label>Fill description field</mat-label>
                        <textarea matInput placeholder="Enter title here" type="text" [(ngModel)]="addcatagory.description" name="description"></textarea>
                      </mat-form-field>

                      <div >
                        <button mat-raised-button color="accent" class="button-container">Add</button>
                     </div>

                 </form>


               </div>

             </div>


          </div>

  
    </mat-card-content>

</mat-card>
